:root{
    --ff-heading-400: 400 1rem "Poppins", sans-serif;
    --ff-heading-600: 600 1rem "Poppins", sans-serif;
    --ff-body-400: 400 1rem "Open Sans", sans-serif;

    --clr-violet: hsl(257, 40%, 49%);
    --clr-soft-magenta: hsl(300, 69%, 71%);
}

*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

body{
    padding:2.2em;
    color:white;
    background-color:var(--clr-violet);
}

.hero-img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-image: url("../images/bg-mobile.svg");
    background-size:100% auto;
    background-repeat: no-repeat;
    z-index:-1;
}

header{
    width:100%;

    .logo{
        width:8.5em;
    }
}

section.header-img{
    display:grid;
    place-items: center;
    margin-block: 3.5em;

    img{
        width:100%;
    }
}

section.info{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-bottom:5em;

    h1{
        font:var(--ff-heading-600);
        font-size:1.7rem;
    }

    p{
        font:var(--ff-body-400);
        line-height:1.6em;
        padding-block:1em;
    }

    .btn-register{
        width:65%;
        border:none;
        border-radius:100vh;
        padding:0.8em;
        font: var(--ff-heading-400);
        font-size:0.9em;
        color:var(--clr-violet);
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.603);
        cursor:pointer;
        transition: all .3s ;
        margin-top:1em;

        &:hover{
            background:var(--clr-soft-magenta);
            color:white;
        }
    }
}

.social-links{
    // margin-top:4em;
    z-index:999;
    height:2em;
    margin-top:2em;

    ul{
        list-style:none;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    li{
        width:2em;
        height:2em;
        display:grid;
        place-items: center;
        margin-inline: 0.5em;
        border:1px solid white;
        border-radius:50%;
        text-align: center;
        color:white;
        transition: all .3s;

        a{
            text-decoration: none;
            display:block;
            padding: 0.4em;
            color:white;
            transition: inherit;
        }

        &:hover{
            border-color:var(--clr-soft-magenta);
        }

        &:hover > a{
            color:var(--clr-soft-magenta);
        }

    }


}

// Desktop
@media only screen and (min-width: 1440px){

    header{
        .logo{
            width:12em;
        }
    }

    section.header-img{
        width:55%;
        padding-top:6em;
        margin:0;
    }


    .hero-img{
        background-image: url("../images/bg-desktop.svg");
        background-position: center;
        height:100%;
    }

    .container{
        display:flex;
        justify-content: space-between;
    }

    section.info{
        width:40%;
        margin:0;
        padding:0;
        text-align:left;
        align-items: baseline;

        h1{
            font-size:2.4rem;
        }

        .btn-register{
            width:40%;
            padding:1.2em;
        }
    }

    .social-links{

        ul{
            justify-content: right;

            li{
                width:2.5em;
                height:2.5em;
            }
        }
    }
}

// ## Icons
// For the social icons, you can use a font icon library. Some suggestions can be found below:

// - [Font Awesome](https://fontawesome.com/)
// - [IcoMoon](https://icomoon.io/)
// - [Ionicons](https://ionicons.com/)
